header.header.no-drag
    .header__column
        a.home(href=routes.home)
            i.fab.fa-youtube
            |Yutube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by a term...",name = "term")
            button
                <i class="fas fa-search"></i>
    .header__column
        ul
            if !(loggedUser)
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) Login
            else
                li
                    a(href=routes.myProfile).header__myProfileLink
                        img.header__userProfileImg(src=loggedUser.avatarUrl)
                        .header__username #{loggedUser.name}
                li#loggedHeader
                    a(href=routes.videos+routes.upload) Upload
                
                li
                    a(href=routes.logout) Logout
script
    include ../../frontJS/search.js