extends layouts/main.pug

block content
    .userForm-greeting.no-drag
        p.userForm-logo
            i.fab.fa-youtube
            |Yutube
        p.userForm-letter Join Yutube for daily entertainment!
    .form-container
        form(action=routes.join, method = "post").containPassword
            input(type = "text", name="name", placeholder="성명/Full Name", required=true)
            input(type = "email", name="email", placeholder="이메일/email", required=true)
            input(type = "password", name="password", placeholder = "비밀번호/Password", required=true)
            input(type = "password", name="password2", placeholder = "비밀번호 확인/Verify Password", required=true)
            .verify-password
            input(type = "submit", value = "Join Now")
        include partials/socialLogin
