extends layouts/main.pug
include mixins/videoBlockUploaded.pug

block content
    if user
        .user-profile.no-drag
            img.profile-img(src=user.avatarUrl)
            p.profile-name=user.name
            p.profile-status=user.status
            if loggedUser && user.id === loggedUser.id
                .profile-btns
                    a(href=routes.users+routes.editProfile)
                        .profile-btn Edit Profile
                    a(href=routes.users+routes.changePassword)
                        .profile-btn Change Password
        .user-videos
    else
        .user-profile.no-drag
            img.no-user-img(src="https://qotoqot.com/sad-animations/img/150/silent_tears/silent_tears.gif")
            p.profile-name=pageTitle
    .uploaded-videos
        .videos-header
            .videos-title Uploaded Videos
            .videos__sort.no-drag <i class="fas fa-sort"></i> Sort By
                .videos__sort-standards.hidden
                    a(href="?sort=1")
                        .videos__sort-standard Most popular
                    a(href="?sort=2")
                        .videos__sort-standard Date (oldest)
                    a(href="?sort=3")
                        .videos__sort-standard Date (newest)
        .videos
            each video in user.videos
                +videoBlockUploaded(video)
    script
        include ../frontJS/uploadedVideo.js
    script
        include ../frontJS/videosHeader.js