extends layouts/main.pug
include mixins/videoBlockRecommend

block content
    .videoDetail
        .video
            .video__player
                video(src=`/${video.fileUrl}`, controls=true/*, autoplay=true, muted 영상 자동재생*/)
            .video__info
                p.video__title=video.title
                p.video__more.light 조회수 #{video.views}회 • #{Date(video.uploadTime).toString().substring(4, 15)}
                .video__description
                    .video__description__column
                        a(href=routes.userDetail(video.creator.id))
                            img.video__description-creator-img(src=video.creator.avatarUrl)
                    .video__description__column
                        a(href=routes.userDetail(video.creator.id)).video__description-creator=video.creator.name
                        <br><br>
                        .video__description-content=video.description
                        .video__description-btn
            .video__comments
                .comments__header
                    if video.comments.length === 1
                        span.video__comments-count 1 comment
                    else
                        span.video__comments-count #{video.comments.length} comments
                    if loggedUser && video.creator.id === loggedUser.id
                        a(href=routes.editVideo(video.id))|Edit Video   

        .recommends
            p.recommends-title 추천 동영상
            each videoRecommended in videosRecommended
                +videoBlockRecommend(videoRecommended)