extends layouts/main.pug
include mixins/videoBlockRecommend
include mixins/videoPlayer

block content
    .videoDetail
        .video
            //- .video__player
            //-     video(src=`/${video.fileUrl}`, controls=true/*, autoplay=true, muted 영상 자동재생*/)
            +videoPlayer(video)
            .video__info
                p.video__title=video.title
                p.video__more.light 조회수 #{video.views}회 • #{video.uploadTime.toString().substring(4, 15)}
                .video__description
                    .video__description__column
                        a(href=routes.userDetail(video.creator.id))
                            img.video__description-creator-img(src=video.creator.avatarUrl)
                    .video__description__column
                        a(href=routes.userDetail(video.creator.id)).video__description-creator=video.creator.name
                        <br><br>
                        .video__description-content=video.description
                        .video__description-btn
            .video__comments
                .comments__header
                    if video.comments.length === 1
                        span.video__comments-count#jsCommentsCount 1 comment
                    else
                        span.video__comments-count#jsCommentsCount #{video.comments.length} comments
                    if loggedUser && video.creator.id === loggedUser.id
                        a(href=routes.editVideo(video.id))|Edit Video   
                .comments-form
                    if loggedUser
                        img.comment-profile(src=loggedUser.avatarUrl)
                        .loggedUserName.hiddenInfo=loggedUser.name
                        .loggedUserId.hiddenInfo=loggedUser.id
                    else
                        .comment-profile
                    form#jsFormAddComment
                        if loggedUser
                            input(type="text", placeholder = "Add a comment...", maxlength = "800")
                        else
                             input(type="text", placeholder = "Add a comment... (Login required)", maxlength = "800")
                        .underline
                        input(type="submit")
                        //- without this, the html thinks the button below is input type=submit, so I have to put an invisible input type submit to occur submit when pressing enter
                        .comment-buttons
                            button.addComment-cancel Cancel
                            button.addComment-commit Commit
                ul.comments-list#jsCommentsList
                    each comment in video.comments.reverse()
                        if !loggedUser || !(loggedUser.blockedComments.includes(comment.id))
                            li(id=comment.id)
                                a(href=`/users/${comment.creator.id}`)
                                    img.comment-profile(src=comment.creator.avatarUrl)
                                .comment-box
                                    .comment-title
                                        a(href=`/users/${comment.creator.id}`)
                                            span.comment-creator=comment.creator.name
                                        if comment.isEdited
                                            span.comment-date.light=`${comment.uploadTime.toString().substring(4, 21)} (Edited)`
                                        else
                                            span.comment-date.light=comment.uploadTime.toString().substring(4, 21)
                                    .comment-content=comment.text
                                .comment-moreBox.no-drag.hidden
                                    if loggedUser && comment.creator.id === loggedUser.id
                                        .comment-moreTab.comment-more__delete
                                            <i class="fas fa-trash"></i>
                                            span Delete
                                        .comment-moreTab.comment-more__edit
                                            <i class="fas fa-pen"></i>
                                            span Edit
                                    else
                                        .comment-moreTab.comment-more__block
                                            <i class="fas fa-ban"></i>
                                            span Block
                                .comment-more
                                    <i class="fas fa-ellipsis-v"></i>
        .recommends#recommends
            p.recommends-title 추천 동영상
            each videoRecommended in videosRecommended
                +videoBlockRecommend(videoRecommended)
    .overlay
    .confirm.no-drag
        .confirm-title
            span.confirm__comment-job
            |   comment
        .confirm-message.light
            span.confirm__comment-job
            |   the comment permanently?
        .confirm-buttons
            .confirm-button.confirm-button__cancel CANCEL
            .confirm-button.confirm-button__approve DELETE
    script
            include ../frontJS/videoDetail.js