mixin videoBlockSearch(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=`${routes.home+video.fileUrl}`)
            .video__info
                p.videoBlock__title=video.title
                p.videoBlock__more.light 조회수 #{video.views}회 • #{video.uploadTime.toString().substring(4, 15)}
                p.videoBlock__description.light=video.description