mixin videoBlock(video = {}, isHistory = false, isWatchLater = false)
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=`${routes.home+video.fileUrl}`)
        .videoBlock__info
            .videoBlock__column
                a(href=routes.userDetail(video.creator.id)).userDetailLink
                    img(src=video.creator.avatarUrl).videoBlock__creator-img
            .videoBlock__column
                a(href=routes.videoDetail(video.id)).videoDetailLink
                    .videoBlock__title=video.title
                a(href=routes.userDetail(video.creator.id))
                    p.videoBlock__creator.light=video.creator.name
                a(href=routes.videoDetail(video.id))
                    p.videoBlock__more.light 조회수 #{video.views}회 • #{video.uploadTime.toString().substring(4, 15)}
            .videoBlock__action-btn
                <i class="fas fa-ellipsis-v"></i>
            .videoBlock__action-box.no-drag
                if isHistory
                    .videoBlock__action-bar.removeHistory <i class="fas fa-times"></i> Remove from History
                if isWatchLater
                    .videoBlock__action-bar.removeWatchLater <i class="fas fa-times"></i> Remove from Watch Later
                else
                    .videoBlock__action-bar.watchLater <i class="fas fa-clock"></i> Save to Watch later
                if !isHistory && !isWatchLater
                    .videoBlock__action-bar.noInterest <i class="far fa-meh"></i> Not Interested
                    .videoBlock__action-bar.blockCreator <i class="fas fa-ban"></i> Block Channel
        .videoBlock--removed.no-drag
            span.videoBlock--removed-notice Video removed
            if !loggedUser
                span.videoBlock--removed-notLoggedIn The Video has been removed temporarily<br />Please Login to remove the video Permanently
            if loggedUser
                span.videoBlock--removed-undo.videoBlock--removed-button UNDO
            else
                .videoBlock--removed-buttons
                    span.videoBlock--removed-undo.videoBlock--removed-button UNDO
                    a(href="/login").videoBlock--removed-button LOGIN