mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=`${routes.home+video.fileUrl}`)
        .videoBlock__info
            .videoBlock__column
                a(href=routes.userDetail(video.creator.id))
                    img(src=video.creator.avatarUrl).videoBlock__creator-img
            .videoBlock__column
                a(href=routes.videoDetail(video.id))
                    .videoBlock__title=video.title
                a(href=routes.userDetail(video.creator.id))
                    p.videoBlock__creator.light=video.creator.name
                a(href=routes.videoDetail(video.id))
                    p.videoBlock__more.light 조회수 #{video.views}회 • #{video.uploadTime.toString().substring(4, 15)}