mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=`${routes.home+video.fileUrl}`, width ="200px",height="150px")
            span.videoBlock__title=video.title
            .videoBlock__more.light
                span.videoBlock__views 조회수 #{video.views}회
                span.videoBlock__uploadTime #{video.uploadTime.toString().substring(4, 15)}