mixin videoBlockRecommend(video = {})
    .videoBlock
        .videoBlock__column
            a(href=routes.videoDetail(video.id)).videoDetailLink
                if video.thumbnailUrl
                    video.videoBlock__thumbnail(src=`${routes.home+video.fileUrl}`, poster = `../${video.thumbnailUrl}`)
                else
                    video.videoBlock__thumbnail(src=`${routes.home+video.fileUrl}`)
        .videoBlock__column
            a(href=routes.videoDetail(video.id))
                .videoBlock__title=video.title
            a(href=`/users/${video.creator.id}`).userDetailLink
                .videoBlock__creator.light=video.creator.name
            a(href=routes.videoDetail(video.id))
                if video.views < 1000
                    p.videoBlock__info.light 조회수 #{video.views}회 • #{video.uploadTime.toString().substring(4, 15)}
                else if video.views / 1000 >= 10
                    p.videoBlock__info.light 조회수 #{video.views/1000}K 회 • #{video.uploadTime.toString().substring(4, 15)}
                else if parseInt((video.views / 1000).toFixed(1)) === (video.views/1000).toFixed(1)
                    p.videoBlock__info.light 조회수 #{parseInt(video.views/1000)}K 회 • #{video.uploadTime.toString().substring(4, 15)}
                else
                    p.videoBlock__info.light 조회수 #{(video.views/1000).toFixed(1)}K 회 • #{video.uploadTime.toString().substring(4, 15)}
        .videoBlock__action-btn
                <i class="fas fa-ellipsis-v"></i>
        .videoBlock__action-box.no-drag
            .videoBlock__action-bar.watchLater <i class="fas fa-clock"></i> Save to Watch later
            .videoBlock__action-bar.noInterest <i class="far fa-meh"></i> Not Interested
            .videoBlock__action-bar.blockCreator <i class="fas fa-ban"></i> Block Channel
        .videoBlock--removed.no-drag
            span.videoBlock--removed-notice Video removed
            span.videoBlock--removed-undo.videoBlock--removed-button UNDO